# Django/Python
__pycache__/
*.pyc
*.pyo
*.log
.env
.env.local

# Virtual Envs
venv/
myenv/
.env/

# IDE/OS files
.idea/
.vscode/
.DS_Store

# STATICFILES
staticfiles/

# Uncomment the next lines ONLY if you do NOT want to share user uploads
# media/

# DO NOT ignore db or migrations, so comment these out if present:
# *.sqlite3
# */migrations/
# */migrations/*.py
# */migrations/*.pyc
