{% extends 'base.html' %} 

{% load static %}

{% block title %}Login - OOTD{% endblock title %} 

{% block style %}
<style>
  body {
    font-family: Arial, sans-serif;
    /* background: url("../images/background.jpg") no-repeat center center fixed; */
    background-size: cover;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    background-color: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    margin: 2rem auto; /* Added to resolve the conflict with style.css */
  }

  h1 {
    margin-bottom: 20px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  button:hover {
    background-color: #45a049;
  }

  .link {
    margin-top: 15px;
    font-size: 14px;
  }

  .link a {
    color: #2196f3;
    text-decoration: none;
  }

  .link a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
  <h1>Login to OOTD</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
  {% endif %}
  <form id="loginForm" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" id="username" placeholder="Username" name="username" />
    <input
      type="password"
      id="password"
      placeholder="Password"
      name="password"
      required
    />
    <button type="submit">Login</button>
  </form>

  <div class="link">
    Don’t have an account? <a href="{% url 'signup' %}">Sign Up</a>
  </div>
</div>
{% endblock content %} 

{% block jscript %}
<!-- No specific JavaScript for this page -->
{% endblock jscript %}
