{% extends "myapp/base.html" %}
{% load static %}

{% block title %}OOTD{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'myapp/css/combined.css' %}" />
{% endblock %}

{% block content %}

  <!-- Tools Section -->
  <section class="tools-row">

    <div class="tool-box">
      <h3>Know Your Cup Size</h3>
      <img src="{% static 'myapp/images/3.png' %}" alt="Cup Size Calculator">
      <a href="{% url 'cup' %}" class="btn-link">Try Now!</a>

    </div>
  
      <div class="tool-box">
      <h3>Try Now</h3>
      <img src="{% static 'myapp/images/outfit.png' %}" alt="Style Me Now">
      <a href="{% url 'cup' %}" class="btn-link">Style Me Now!</a>
    </div>
  
    <div class="tool-box">
      <h3>Know Your Body Type</h3>
      <img src="{% static 'myapp/images/4.png' %}" alt="Body Type Calculator">
      <a href= "{% url "body" %}"
      <button>Try Now!</button>
      </a>
    </div>
  </section>
  
   <!-- Category Boxes -->
  <section class="fit-categories">
    <div class="fit-box" onclick="location.href='summer.html'">
      <img src="{% static 'myapp/images/summer.png' %}" alt="Summer Fits">
      <span>Summer Fits</span>
    </div>
    <div class="fit-box" onclick="location.href='winter.html'">
      <img src="{% static 'myapp/images/winter.jpg' %}" alt="Winter Fits">
      <span>Winter Fits</span>
    </div>
    <div class="fit-box" onclick="location.href='spring.html'">
      <img src="{% static 'myapp/images/spring.jpg' %}" alt="Spring Fits">
      <span>Spring Fits</span>
    </div>
    <div class="fit-box" onclick="location.href='beach.html'">
      <img src="{% static 'myapp/images/beach.jpg' %}" alt="Beach Vacation">
      <span>Beach Vacation</span>
    </div>
    <div class="fit-box" onclick="location.href='modest.html'">
      <img src="{% static 'myapp/images/modest.jpeg' %}" alt="Modest Wears">
      <span>Modest Fits</span>
    </div>
    <div class="fit-box" onclick="location.href='party.html'">
      <img src="{% static 'myapp/images/party.jpeg' %}" alt="Party Looks">
      <span>Party Fits</span>
    </div>
  </section>
  
  
  
  
  <button id="backToTop" aria-label="Back to Top"></button>

  {% endblock %}

  {% block jscript %}
  
  {% endblock %}
