{% extends "myapp/base.html" %}
{% load static %}

{% block title %}OOTD{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'myapp/css/style.css' %}" />
{% endblock %}

{% block content %}
<!-- Image Slider -->
    <div class="slider" id="slider">
      <div class="slide active">
        <img src="{% static 'myapp/images/5.jpg' %}" alt="slide 1">
      </div>
      <div class="slide">
        <img src="{% static 'myapp/images/6.jpg' %}" alt="slide 2">
      </div>
      <div class="slide">
        <img src="{% static 'myapp/images/7.png' %}" alt="slide 3">
      </div>
    </div>

    <!-- Sections -->
    <div class="line-container">
      <div class="line"></div>
      <span class="line-text">Today's Look</span>
      <div class="line"></div>
    </div>
    <div class="section">
      <a href="{% url 'outfit' %}"><img src="{% static 'myapp/images/2.png' %}" alt="Today's Look" />
      <button style="text-decoration: none"></a>
        <a href="{% url 'outfit' %}">Style Me Now!</a>
      </button>
    </div>

    <div class="line-container">
      <div class="line"></div>
      <span class="line-text">Know Your Cup Size</span>
      <div class="line"></div>
    </div>
    <div class="section">
      <img src="{% static 'myapp/images/3.png' %}" alt="Cup Size" />
      <button style="text-decoration: none">
        <a href="{% url 'cup' %}">Try Now! </a>
      </button>
    </div>

    <div class="line-container">
      <div class="line"></div>
      <span class="line-text">Know Your Body Type</span>
      <div class="line"></div>
    </div>
    <div class="section">
      <img src="{% static 'myapp/images/4.png' %}" alt="Body Type" />
      <button style="text-decoration: none">
        <a href="{% url 'body' %}">Try Now!</a>
      </button>
    </div>

    <button id="backToTop" aria-label="Back to Top"></button>
  {% endblock %}

  {% block jscript %}
    {# No JS needed here - everything is in sript.js #}  
  {% endblock %}
